{% extends 'base/base.html' %}
{% block content %}
<a class="myButton" href="{% url 'precio:precio_crear' %}">Agregar + </a>
<br>
<h3>Lista de Precios</h3>
<table class="table table-bordered">
	 <thead>
		 <tr>                         
			<td> ID </td>                         
			<td> Producto </td>                         
			<td> PPACK </td>                         
			<td> Costo </td>                         
			<td> Mayorista </td>                         
			<td> Minorista </td>                         
			<td> Agencia </td>                         
			<td> Lista </td>                         
			<td> Acciones </td>
		</tr>

	</thead>         
	<tbody>                 
		{% if precio %}                 
		{% for precio in precio %}                 
		<tr>
			<td>{{ precio.id }}</td>                    
			<td>{{ precio.ppack }}</td>                         
			<td>{{ precio.costo }}</td>                         
			<td>{{ precio.mayorista }}</td>                         
			<td>{{ precio.minorista }}</td>                         
			<td>{{ precio.agencia }}</td>                         
			<td>{{ precio.lista }}</td>
			<td>{{ precio.pro_id.n_comercial }}</td>                         
			<td><a class="myButton" href="{% url 'precio:precio_editar' precio.id %}">Editar</a>
			    <a class="myButton" href="{% url 'precio:precio_eliminar' precio.id %}">Eliminar</a>                         
			</td>                 
		</tr>                 
		{% endfor %}
		{% else %}                         
			<h1> No existen registros. </h1>                 
		{% endif %}
	</tbody> 
</table> 
{% endblock %}

